@model ReplicatedSite.Areas.Shopify.ViewModels.PriceRuleViewModel

@{
    ViewBag.Title = "Price Rules";
    Layout = "~/Areas/Shopify/Views/Shared/_Layout.cshtml";
}

<h2>PriceRules</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table>

            </table>
        </div>
    </div>
</div>
