@{ 

    Layout = "~/Areas/Shopify/Views/Shared/_Layout.cshtml";
}  
<style>
    #sub-menu {
        height: 100vh;
        background-color: #f6f6f7;
        border-right: 1px solid #8c9196;
    }

</style>
<div id="sub-menu" class="col-md-2">

</div>  
<div id="content" class="col-md-10">
    @RenderBody()
</div>
