@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.Common.PageNotFound;
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div id="view-error">
    <div class="content-wrap">
        @Html.Raw(Resources.Common.Replicated_Error_NotFound)
    </div>
</div>