<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="Sql.ConnectionStrings" connectionString="server=sharedbi.database.windows.net;database=OlbaliReporting;uid=Olbali_teqnaviweb;pwd=eYrg9k!k7!v5Cm5cJSkY!Pr$;" />
  </connectionStrings>
  <appSettings>
    <add key="DeleteProcessedWebhooks" value="true" />
    <add key="DefaultTenantConfig" value="1" />
    <add key="CompanyName" value="Olbali" />
    <add key="DatabaseContext" value="ShopifyContext." />
    <add key="DefaultEnrollerID" value="2" />
    <add key="DefaultWebalias" value="CorpOrphan" />
    <add key="FulfillmentInShopify" value="false" />
    <add key="DefaultDiscountCode" value="DISCOUNT" />
    <add key="DiscountCVonCuponCode" value="false" />
    <add key="DefaultCustomerTypeId" value="1" />
    <add key="TrackingUrl" value="" />
    <add key="SyncFulfillmentINterval" value="60" />
  </appSettings>
</configuration>