@model ShopifyApp.Models.Cart
@{
    var total = (Model.OrderTotal == 0) ? Model.AutoOrderTotal.ToString("c") : Model.OrderTotal.ToString("c");
}
    <style>
        .order-summary-toggle--show .order-summary-toggle__text--show, .display-table .order-summary-toggle--hide .order-summary-toggle__text--hide {
            display: table-cell;
            width:90%;
        }
        .order-summary-toggle__total-recap {
            display: table-cell;
        }
        .order-summary-toggle__inner {
            display: table;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
        #mobile-cart-container {
            background: #fafafa;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding: 1.25em 0;
            width: 100%;
        }
    </style>
<aside role="complementary">
    <button class="order-summary-toggle order-summary-toggle--show shown-if-js" aria-expanded="false" aria-controls="order-summary" data-drawer-toggle="[data-order-summary]">
        <span class="wrap">
            <span class="order-summary-toggle__inner">
                <span class="order-summary-toggle__icon-wrapper">
                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path>
                    </svg>
                </span>
                <span class="order-summary-toggle__text order-summary-toggle__text--show">
                    <span>@Resources.Checkout.Cart_ShowCartContent</span>
                    <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
                </span>
                <span class="order-summary-toggle__text order-summary-toggle__text--hide">
                    <span>@Resources.Checkout.Cart_HideCartContent</span>
                    <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"></path></svg>
                </span>
                <dl class="order-summary-toggle__total-recap total-recap">
                    <dd>
                        <span class="order-summary__emphasis total-recap__final-price skeleton-while-loading">@total</span>
                    </dd>
                </dl>
            </span>
        </span>
    </button>
</aside>
<div id="mobile-cart-container" style="display:none">
    <div class="wrap">
        @if (Model.OrderTotal > 0)
        {
            @Html.Partial("Partials/_Cart", Model)
        }
    </div>
</div>
<script>
    require(["jquery"], function ($) {
        $(".order-summary-toggle__text").on("click", function () {
            $(".order-summary-toggle__text").toggle();
            $("#mobile-cart-container").toggle();
        });
    });
</script>
